---
export interface Props {
  variant?: "white" | "black";
  href?: string;
}

const { variant, href, ...rest } = Astro.props;
const classVariant =
  variant === "white" ? "bg-white text-black" : "bg-black text-white";
---

<a
  class={`w-9 h-9 rounded-full flex items-center justify-center ${classVariant}`}
  href={href}
  {...rest}
>
  <slot />
</a>

<style>
  a {
    svg {
      width: 20px;
      height: 20px;
    }
    transition: transform 0.2s ease-in-out;
  }

  /* Efecto de presión */
  a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
</style>
