---
export interface Props {
  variant?: "white" | "black";
  href?: string;
}

const { variant, href } = Astro.props;
const classVariant =
  variant === "white" ? "bg-white text-black" : "bg-black text-white";
---

<a
  class={`w-9 h-9 rounded-full flex items-center justify-center ${classVariant}`}
  href={href}
>
  <slot />
</a>

<style>
  a {
    svg {
      width: 20px;
      height: 20px;
    }
  }
</style>
