---
import useLang from "@utils/useLang";
import Button from "@components/buttons/Button.astro";
import ButtonIcon from "@components/buttons/ButtonIcon.astro";
import Github from "@assets/icons/github.svg";
import Linkedin from "@assets/icons/linkedin.svg";
import sources from "@consts/sources";

const { t } = useLang(Astro.url);
---

<section
  id="start"
  class="h-vh w-full mx-auto gap-6 p-12 pt-0 sm:p-10 xl:p-0 sm:max-w-7xl grid grid-cols-1 sm:grid-cols-2 justify-center items-center"
>
  <div
    class="flex flex-col items-center justify-center gap-10 order-2 sm:order-1"
  >
    <div class="flex flex-col gap-4">
      <h3
        class="text-[1.4rem] sm:text-xl md:text-2xl lg:text-4xl font-bold text-center sm:text-normal"
      >
        {t("home.hero.greeting")}
        <br class="block sm:hidden" />
        <span class="text-3">{t("home.hero.nameHighlight")}</span>,
        <br />
        {t("home.hero.role")}
      </h3>
      <div class="flex items-center gap-3">
        <Button href="#contact" variant="black" size="sm"
          >{t("home.hero.primaryCta")}</Button
        >
        <div class="flex items-center gap-3">
          <ButtonIcon variant="black" href={sources.github} target="_blank">
            <Github />
          </ButtonIcon>
          <ButtonIcon variant="black" href={sources.linkedin} target="_blank">
            <Linkedin />
          </ButtonIcon>
        </div>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center order-1 sm:order-2">
    <img
      class="h-3/4 sm:h-auto sm:size-3/4 object-contain mask-linear"
      src="/images/alan_hidalgo.webp"
      alt="Alan Hidalgo"
    />
  </div>
</section>

<style>
  .mask-linear {
    mask-image: linear-gradient(black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(black 90%, transparent 100%);
  }
</style>
