---
import useLang from "@utils/useLang";
import Button from "@components/buttons/Button.astro";
import Sword from "@assets/icons/sword.svg";
import Stats from "@assets/icons/stats.svg";
import Work from "@assets/icons/work.svg";

const { t } = useLang(Astro.url);

const softSkills = [
  {
    icon: Work,
    titleKey: "about.softSkills.teamwork.title",
    descriptionKey: "about.softSkills.teamwork.description",
  },
  {
    icon: Stats,
    titleKey: "about.softSkills.adaptability.title",
    descriptionKey: "about.softSkills.adaptability.description",
  },
  {
    icon: Sword,
    titleKey: "about.softSkills.results.title",
    descriptionKey: "about.softSkills.results.description",
  },
];
---

<section id="about" class="w-full h-vh bg-2">
  <div
    class="sm:max-w-7xl mx-auto px-6 sm:px-10 xl:px-0 py-10 grid grid-cols-1 gap-7"
  >
    <h4 class="text-3xl font-bold text-center">{t("about.sectionTitle")}</h4>
    <p class="text-center text-2 sm:w-4/4 md:w-3/4 lg:w-2/4 mx-auto">
      {t("about.summary")}
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
      {
        softSkills.map((skill) => (
          <div class="flex flex-col gap-3 bg-3 p-6 rounded-sm">
            <div class="flex items-center gap-2">
              <skill.icon />
              <h6 class="text-md font-bold">{t(skill.titleKey)}</h6>
            </div>
            <p class="text-sm">{t(skill.descriptionKey)}</p>
          </div>
        ))
      }
    </div>
    <div class="flex items-center justify-end gap-7">
      <Button href="#contact" variant="black" size="sm">
        {t("about.downloadCv")}
      </Button>

      <span class="font-secondary"> {t("about.signature")} </span>
    </div>
  </div>
</section>

<style></style>
